---
import '../styles/global.css';
interface Props {
	title: string;
    bg?: string;
}

const { title, bg = "bg-white" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} | ControlObra</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class={bg}>
		<slot />
	</body>
</html>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
    
    body {
        font-family: 'Inter', sans-serif;
    }
</style>